<include file="Public/layout" />
<block name="body">
    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">欢迎页</span> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                <p class="f-20 text-success">欢迎使用后台！</p>
                <p>当前时间：<?php echo date('Y-m-d H:i:s',time()); ?></p>
            </article>
            <footer class="footer">
                {$footerTips}
            </footer>
        </div>
    </section>
</block>