<include file="Public/layout"/>
<block name="body">


    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span
                class="c-999 en">&gt;</span><span class="c-666">用户编辑</span> <a class="btn btn-success radius r"
                                                                               style="line-height:1.6em;margin-top:3px"
                                                                               href="javascript:location.replace(location.href);"
                                                                               title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                <form action="{:U('/Home/User/update')}" method="post" class="form form-horizontal"
                      id="form-admin-add">
                    <input type="hidden" name="id" value="{$info.id}">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="{$info.username}" placeholder="" id="username"
                                   name="username">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="password" class="input-text" autocomplete="off" value="" placeholder="密码"
                                   id="password" name="password">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3">角色：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                        <span class="select-box" style="width:150px;">
                            <select class="select" name="role_id" size="1">
                                <!--<option value="">选择分类</option>-->
                                <volist name="roleList" id="vo">
                                    <option <if condition="$vo.id eq $info['role_id']"> selected</if> value="{$vo.id}">{$vo.role_name}
                                    </option>
                                </volist>
                            </select>
                        </span>
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                            <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                        </div>
                    </div>
                </form>
            </article>
            <footer class="footer">
                {$footerTips}
            </footer>
        </div>
    </section>


</block>