<include file="Public/layout"/>
<block name="body">
    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span
                class="c-999 en">&gt;</span><span class="c-666">权限编辑</span> <a class="btn btn-success radius r"
                                                                               style="line-height:1.6em;margin-top:3px"
                                                                               href="javascript:location.replace(location.href);"
                                                                               title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                <form action="{:U('/Home/Permission/update')}" method="post" class="form form-horizontal"
                      id="form-admin-add">
                    <input type="hidden" name="id" value="{$info.id}">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限名称：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="{$info.name}" name="name" placeholder="">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>路径：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" autocomplete="off" name="url" value="{$info.url}"
                                   placeholder="路径">
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                            <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                        </div>
                    </div>
                </form>
            </article>
            <footer class="footer">
                {$footerTips}
            </footer>
        </div>
    </section>
</block>